$sm-viewport: 576px;
$md-viewport: 768px;
$lg-viewport: 992px;
$font-family-sans-serif: "Lato Regular", sans-serif;
$primary: #092c5f;
$blue: #104691;
$secondary: #025ddc;
$gray-600: #6c757d;
$gray-700: #4e555e;
$pale-blue: #e0ebff;
$light-blue: #5683c3;
$blue-dark: #033364;
