.main__principal {
  background-image: url(../img/hamaca_vertical_3.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  height: 107vh;
  @media (min-width: $md-viewport) {
    background-image: url(../img/hamaca_mirror.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 73vh;
  }
  @media (min-width: $lg-viewport) {
    height: 65vh;
    width: 100vw;
  }
  &__wrapper {
    &--title {
      color: $primary;
      font-size: 32px;
      padding: 120px 0 20px 0;
      width: 85vw;
      @media (min-width: $md-viewport) {
        font-size: 36px;
        padding: 130px 0 20px 10%;
        width: 60vw;
        max-width: 450px;
      }
      @media (min-width: $lg-viewport) {
        font-size: 44px;
        line-height: 50px;
        min-width: 580px;
      }
    }
    &--text {
      color: $primary;
      font-style: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      width: 80vw;
      max-width: 300px;
      @media (min-width: 768px) {
        font-size: 18px;
        padding-left: 10%;
        max-width: 400px;
      }
      @media (min-width: 992px) {
        max-width: 450px;
      }
    }
    &--cta {
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      text-decoration: none;
      color: $secondary;
      letter-spacing: 5px;
      margin-left: -7pt;
      background-color: transparent;
      border: none;
      @media (min-width: $md-viewport) {
        margin-left: 9.2%;
      }
    }
  }
}
.manifiesto {
  background-color: $pale-blue;
  height: auto;
  &__img {
    size: 100vw;
    width: 90vw;
    @media (min-width: $sm-viewport) {
      width: 50vw;
      padding-left: 7%;
      padding-top: 3%;
    }
    @media (min-width: $md-viewport) {
      width: 40vw;
      padding-left: 7%;
    }
    @media (min-width: $lg-viewport) {
      width: 45vw;
      padding-left: 9%;
      padding-top: 0;
    }
  }
  &__wrapper {
    max-width: 100%;
    padding-left: 10%;
    padding-top: 3%;
    &--slogan1 {
      font-size: 1.9rem;
      color: $secondary;
      margin-left: 10px;
      @media (min-width: $sm-viewport) {
        padding-left: 10px;
        padding-top: 7%;
      }
      @media (min-width: $md-viewport) {
        font-size: 2.5rem;
        margin-left: 0;
        padding-left: 0%;
        padding-top: 2%;
      }
      @media (min-width: $lg-viewport) {
        padding-top: 5%;
      }
    }
    &--slogan2 {
      color: $blue;
      font-size: 2.3rem;
      margin-left: 10px;
      @media (min-width: $sm-viewport) {
        padding-left: 10px;
      }
      @media (min-width: $md-viewport) {
        font-size: 3rem;
        margin-bottom: 15px;
        margin-left: 0;
        padding-left: 0%;
      }
    }
    &--paragraph {
      color: $gray-700;
      text-align: left;
      margin-left: 10px;
      @media (min-width: $sm-viewport) {
        margin-right: 20;
        padding-left: 10px;
      }
      @media (min-width: $md-viewport) {
        margin-left: 0;
        max-width: 450px;
        margin-right: 20%;
        padding-left: 0%;
      }
    }
  }
}
.intermedia {
  background-color: $light-blue;
  height: auto;
  &__frase {
    font-style: normal;
    font-size: 150%;
    font-family: "Trocchi";
    font-style: normal;
    text-align: center;
    color: white;
    letter-spacing: 2px;
  }
}
.ofrecemos {
  background-image: url(../img/manos.jpg);
  height: 100vh;
  overflow-x: hidden;
  background-position-x: center;
  background-size: cover;
  @media (min-width: $md-viewport) {
    height: 70vh;
  }
  &__wrapper__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(150, 187, 252);
    background: linear-gradient(
      6deg,
      rgba(150, 187, 252, 1) 0%,
      rgba(217, 233, 255, 0.53) 100%
    );
    width: 84vw;
    height: 400px;
    margin-block: 20px;
    padding: 30px 20px;
    color: $primary;
    height: auto;
    @media (min-width: $md-viewport) {
      width: 50vw;
      padding: 45px 30px;
      margin-block: 100px;
    }
    @media (min-width: $lg-viewport) {
      width: 550px;
      height: 570px;
      padding: 0 50px;
    }
    &--title {
      color: $blue;
      font-size: 1.5rem;
      font-family: "Trocchi";
      font-weight: 400;
      line-height: 2rem;
      text-align: center;
      padding-bottom: 15px;
      padding-top: 20px;
      @media (min-width: $md-viewport) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
      @media (min-width: $lg-viewport) {
        font-size: 2rem;
        line-height: 2.6rem;
      }
    }
    &--paragraph {
      font-style: normal;
      font-size: 15px;
      font-family: "Lato Regular";
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 1.6;
      text-align: center;
      @media (min-width: 768px) {
        line-height: 1.5;
        padding: 0 27px;
      }
    }
  }
}
.contacto {
  &__wrapper {
    background-color: $pale-blue;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 1.3rem;
    padding-top: 20px;
  }
  img {
    padding-top: 105px;
    width: 100%;
    overflow: hidden;
    grid-area: foto_nena;
  }
}
