/* Estilo PAGINA SUMATE */
.contacto__main {
  background-color: white;
  &__title {
    color: $secondary;
    font-style: normal;
    font-size: 32px;
    font-family: "Trocchi";
    width: 100%;
    padding-top:20%;
  }
  &__paragraph {
    color: $gray-700;
    width: 90%;
    max-width: 650px;
    font-style: normal;
    font-size: 1rem;
    font-family: "Lato Regular";
    font-weight: 400;
    text-align: left;
  }
}
.contacto__card__wrapper {
  background-color: $pale-blue;
  padding-top: 90px;
  padding-bottom: 50px;
  &__width {
    width: 270px;
  }
  &__cards {
    height: 100%;
    padding: 10px;
    @media (min-width: $lg-viewport) {
      padding: 10px 30px 10px 30px;
    }
    &__title {
      color: $secondary;
      font-style: normal;
      font-size: 1.4rem;
      font-family: "Trocchi";
      font-weight: 400;
      text-align: left;
      padding: 25pt 0 4pt;
      text-align: center;
    }
    &__paragraph {
      font-style: normal;
      font-size: 16px;
      font-family: "Lato Regular";
      font-weight: 400;
      line-height: 1.7rem;
      text-align: center;
      color: $gray-700;
    }
  }
}
.contacto__form {
  padding-bottom: 10px;
  padding-left: 5px;
}
.contacto__formulario {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  margin: auto;
  &__paragraph {
    color: #1a66d0;
    font-style: normal;
    font-size: 16px;
    font-family: "Trocchi";
    line-height: 24px;
  }
  &__input {
    margin: 15px 0 3px 0;
    color: $gray-700;
    font-size: 13px;
    height: 30px;
    border: #b6d3fc solid 1px;
    padding-left: 6px;
    &-textarea {
      margin: 15px 0 3px 0;
      font-size: 13px;
      border: #b6d3fc solid 1px;
      letter-spacing: 0.5px;
    }
  }
  &-label {
    font-family: "Lato-Regular";
    font-weight: 400;
    font-size: 15px;
    color: #1a66d0;
    letter-spacing: 0.5px;
    padding-left: 5px;
  }
  &-btn {
    background-color: #b6d3fc;
    width: 80px;
    height: 30px;
    border-radius: 18px;
    border: none;
    margin: 20px 25px 30px 0;
    color: $secondary;
    font-family: "Lato Regular";
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 16px;
  }
}
.nos__apoyan {
  background-color: white;
  height: auto;
  width: 90vw;
  margin: auto;
  padding-top: 40px;
  &__title {
    color: $blue;
    font-style: normal;
    font-size: 20px;
    font-family: "Lato Regular";
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-align: center;
  }
  &__wrapper {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    width: 90%;
    img {
      display: inline-block;
      width: 120px;
    }
  }
}
