* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: unset;
}
ul,
ol {
  font-style: normal;
  list-style: none;
}
a {
  text-decoration: none;
  color: $secondary;
}
@font-face {
  font-family: "Trocchi";
  src: url("../fonts/Trocchi/Trocchi-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato Italic";
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
h1,
h2,
h3 {
  font-family: "Trocchi";
  font-style: normal;
  font-weight: normal;
}
p {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4e555e;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
.text-light {
  font-family: "Lato Light";
  font-weight: 300;
  font-size: 13px;
}
.form-control {
  background-color: white;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 10%;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  background-color: $pale-blue;
}
.btn {
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10%;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(0, 136, 255);
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 136, 255);
  }
  & .submit {
    background-color: $light-blue;
  }
  &.submit:hover {
    background-color: $light-green;
  }
}