.footer {
  background-color: #5683c3;
  color: white;
  margin-bottom: 0;
  padding-top: 25px;
  &__wrapper {
    padding: 25px auto 10% 10%;
    color: white;
    max-width: 300 px;
    @media (min-width: $md-viewport) {
      max-width: auto;
      padding-left: 20%;
    }
    @media (min-width: $lg-viewport) {
      padding-left: 5%;
    }
    &__datos__contacto {
    font-size: 15px;
    letter-spacing: 1.5px;
      & a:hover {
        color: $light-green;
      }
      &--suscripcion {
        font-family: "Lato regular";
        font-weight: 400;
        max-width: 400px;
      }
    }
  }
  &__legales {
    background-color: $blue-dark;
    height: auto;
    padding: 3px 50px;
    letter-spacing: 1.5px;
    text-align: left;
    @media (min-width: $lg-viewport) {
      text-align: center;
    }
  }
}
