.footer {
  background-color: #5683c3;
  color: white;
  &__wrapper {
    max-width: 300px;
    padding: 25px 0 20px 50px;
    color: white;
    &__datos__contacto {
      padding-top: 18px;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 6px;
      a:hover {
        color: #d1e5feeb;
        }
      }
    }
  &__legales {
    max-width: 360px;
    padding: 0 25px 1px 50px;
    text-align: left;
    letter-spacing: 1px;
    @media (min-width: 992px) {
      max-width: 600px;
    }
  }
}